@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*mobile first*/
/*--homepage*/
.box {
  width: calc(100vw - (100vw - 100%));
  background-image: url(DSC_8273.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box__heading {
  color: rgb(38, 1, 1);
  font-family: Raleway, sans-serif;
  width: 100%;
  text-align: center;
  font-weight: normal;
  font-size: 34px;
  padding: 20px 0px;
  margin-bottom: 40px;
  background-color: rgb(255, 255, 255, 0.9);
}

.box__weekdays-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box__weekday-section {
  width: calc(100% - 60px);
  padding: 15px 15px;
  margin: 15px;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box__weekday-name {
  width: 80%;
  text-align: center;
  font-family: Raleway, sans-serif;
  color: rgb(252, 169, 2);
}

.box__weekday-buttons {
  width: 95%;
  font-family: Raleway, sans-serif;
  font-size: 1.1em;
  background: none;
  cursor: pointer;
  border: none;
  padding: 5px 0px;
  border-bottom: 1.4px solid rgb(126, 125, 125);
}

.lunch-btn,
.breakfast-btn,
.dinner-btn {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.box__weekday-name--weekend {
  color: rgb(157, 2, 8);
}

#getProductsListBtnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#getProductsListBtn {
  border-radius: 30px;
  border: none;
  font-size: 17px;
  font-weight: 500;
  font-family: Raleway, sans-serif;
  color: white;
  background-color: rgb(252, 164, 2, 0.8);
  margin: 40px 0px;
  padding: 15px 40px;
}

/*--dishes-list modal and new-dish modal*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 130px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal_newDish {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  padding-top: 130px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__content,
.modalNewDish_content {
  display: flex;
  flex-wrap: wrap;
  background-color: #fefefe;
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
  width: 90%;
}

.modal-close__span,
.modalNewDish-close__span {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}

.modal-close__span:hover,
.modal-close__span:focus,
.modalNewDish-close__span:hover,
.modalNewDish-close__span:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-close,
.modalNewDish-close {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.modal-list-and-input {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.modal-list {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
  padding-top: 20px;
  font-family: Raleway, sans-serif;
  font-size: 17px;
}

.modal-list li {
  width: 90%;
  padding: 5px 0px;
  text-align: center;
  margin: 1px 0px;
  background-color: rgb(236, 231, 231);
}

#myInput {
  font-family: Raleway, sans-serif;
  width: 90%;
  padding: 10px 35px;
  background-color: rgb(236, 231, 231);
  border: 1px solid #ced4da;
}

.myInput-box {
  width: 100%;
  text-align: center;
  position: relative;
}

#myInput:hover,
#myInput:active,
#myInput:focus {
  outline: none;
}

.search-icon {
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  z-index: 1;
  color: rgb(78, 78, 78);
}

.new_dish_btn {
  border-radius: 30px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  font-family: Raleway, sans-serif;
  color: white;
  background-color: rgb(252, 164, 2, 0.8);
  margin: 40px 0px;
  padding: 8px 18px;
  cursor: pointer;
}

.new_dish_btn:focus {
  outline: none;
}

.products_list {
  display: flex;
  flex-wrap: wrap;
  font-family: Raleway, sans-serif;
}

.products_list-table-container {
  width: 100%;
}

.products_list table {
  margin-top: 15px;
  display: flex;
  justify-content: left;
  width: 100%;
}

.products_list-tbody {
  width: 100%;
}

.products_list-tbody tr {
  display: flex;
  background-color: rgb(230, 227, 227);
  justify-content: left;
  margin-bottom: 2px;
  padding: 3px;
  font-size: 14px;
}

.products_list-tbody tr td {
  padding-right: 15px;
}

.new_product_form_container {
  display: none;
  width: 100%;
}

#add-new-dish-list input {
  font-family: Raleway, sans-serif;
}

#add-new-dish-list {
  border: 1px solid rgb(252, 164, 2, 0.8);
  font-family: Raleway, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#new-dish-name {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  margin: 10px 20px 20px 20px;
  color: rgb(24, 23, 23);
  border: none;
  border-bottom: 1px solid rgb(252, 144, 2);
}

#new-dish-name:focus {
  outline: none;
}
#new-dish-name::placeholder {
  font-style: italic;
  color: rgb(161, 160, 160);
}

.choose-category {
  width: 100%;
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.categories-checkboxes {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 15px;
  margin-bottom: 20px;
}

.categories-checkboxes div {
  display: flex;
  align-items: center;
}

.categories-checkboxes div input {
  margin-right: 5px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.categories-checkboxes div label {
  cursor: pointer;
}

.input-checkbox {
  display: none;
}

.input-checkbox + label::before {
  content: '\2714';
  background-color: rgb(228, 224, 224);
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  padding-left: 4px;
  padding-bottom: 4px;
  margin-right: 7px;
  vertical-align: center;
  color: transparent;
  transition: 0.2s;
}

.input-checkbox:checked + label::before {
  background-color: rgb(252, 164, 2);
  color: white;
  border: none;
}

.input-checkbox + label:active::before {
  transform: scale(0.5);
}

.new-dish-submit-btn-container {
  width: 100%;
  text-align: center;
}

#new-dish-submit-btn {
  margin-bottom: 20px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  font-family: Raleway, sans-serif;
  color: white;
  background-color: rgb(252, 164, 2, 0.8);
  padding: 8px 18px;
  cursor: pointer;
}

#new-dish-submit-btn:focus {
  outline: none;
}

.dish-ingridients-label {
  width: 100%;
  text-align: center;
  padding: 5px;
  color: rgb(252, 164, 2);
  margin: 10px 10px 0px 10px;
  font-weight: 500;
}

.dish-ingridients-list div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
}

.dish-ingridients-list table {
  display: flex;
  justify-content: center;
  margin: 10px 0px 25px 0px;
  border-collapse: collapse;
}

.search-ingridient-inputs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.dish-ingridient {
  background-color: rgb(236, 235, 235);
  border-bottom: 3px solid white;
  font-size: 15px;
}

.ingridient-name {
  padding: 4px 15px 4px 10px;
}

.ingridient-quantity {
  padding-right: 1px;
  /* text-align: right; */
}

.ingridient-unit {
  text-align: right;
  padding-right: 45px;
}

.delete-ingridient {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 19px;
  padding-right: 10px;
  cursor: pointer;
}

.ingridients-inputs-alert-message {
  text-align: center;
  padding: 10px 10px;
  font-size: 14px;
  font-style: italic;
  color: rgb(219, 8, 8);
}

.product-quantity-input,
.product-units-input {
  width: 15%;
  padding: 5px 5px;
  color: rgb(24, 23, 23);
  font-size: 15px;
  border: none;
  border-bottom: 1px solid rgb(252, 144, 2);
}

#product_input {
  padding: 5px 5px;
  color: rgb(24, 23, 23);
  font-size: 15px;
  border: none;
  border-bottom: 1px solid rgb(252, 144, 2);
}

#product_input::placeholder,
.product-quantity-input::placeholder,
.product-units-input::placeholder {
  font-style: italic;
  color: rgb(161, 160, 160);
}

#product_input:focus,
.product-quantity-input:focus,
.product-units-input:focus {
  outline: none;
}

.add-ingridient-btn {
  height: 20px;
  width: 20px;
  border: 1px solid rgb(252, 164, 2);
  background-color: rgb(252, 169, 2);
  color: white;
}

.add-ingridient-btn:focus {
  outline: none;
}

#new_product_btn {
  margin-top: 15px;
  font-family: Raleway, sans-serif;
  border: none;
  padding: 5px;
  background-color: rgb(185, 184, 184);
  text-align: left;
  margin-bottom: 5px;
}

#new_product_btn:focus {
  outline: none;
}

#add-new-product-form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#product-name {
  width: calc(70% - 3px);
  border: 1px solid rgb(194, 193, 193);
  background-color: rgb(252, 252, 252);
  margin-bottom: 3px;
  margin-right: 3px;
  padding: 3px 5px;
}

#product-category {
  width: 100%;
  border: 1px solid rgb(194, 193, 193);
  background-color: rgb(252, 252, 252);
  margin-bottom: 3px;
  padding: 3px;
  color: #8a8989;
}

#product-unit {
  margin-bottom: 3px;
  margin-right: 3px;
  width: calc(25% - 3px);
  border: 1px solid rgb(194, 193, 193);
  background-color: rgb(252, 252, 252);
  padding: 3px 5px;
}

.add-product-btn {
  height: 22px;
  width: 5%;
  border: 1px solid rgb(252, 164, 2);
  background-color: rgb(252, 169, 2);
  color: white;
}

#product-name:focus,
#product-category:focus,
#product-unit:focus,
.add-product-btn:focus {
  outline: none;
}

/*desktop*/

@media screen and (min-width: 950px) {
  .box {
    height: 100vh;
    background-position: center bottom;
  }
  .box__weekday-section {
    width: calc(25% - 60px);
  }

  #myInput {
    width: 40%;
  }

  .modal-list li {
    width: 80%;
  }

  .add-new-dish-container {
    display: flex;
    flex-wrap: wrap;
  }

  #add-new-dish-list {
    width: 50%;
  }

  .categories-checkboxes {
    justify-content: center;
  }

  .categories-checkboxes div {
    margin: 0px 10px;
  }

  .products_list {
    width: calc(50% - 20px);
    margin-left: 20px;
  }
}
