@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*mobile first*/
.box {
  width: calc(100vw - (100vw - 100%));
  background-image: url(DSC_8273.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box__heading {
  color: rgb(38, 1, 1);
  font-family: Raleway, sans-serif;
  width: 100%;
  text-align: center;
  font-weight: normal;
  font-size: 34px;
  padding: 20px 0px;
  margin-bottom: 40px;
  background-color: rgb(255, 255, 255, 0.9);
}

.products {
  height: calc(100vh - 120px);
}

.products__item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#getIngridientsList {
  border-radius: 30px;
  border: none;
  font-size: 17px;
  font-weight: 500;
  font-family: Raleway, sans-serif;
  color: white;
  background-color: rgb(252, 164, 2, 0.8);
  margin: 40px 0px;
  padding: 15px 40px;
}

@media screen and (min-width: 950px) {
  .box {
    height: 100vh;
    background-position: center bottom;
  }
}
